

body{
	color: #505152;
}

a {
    color: #003298;
    text-decoration: none;
}

h1{
	/*text-align: center;*/
}

#footer {
	background: url(../HWManageStress_files/images/footer.gif) no-repeat bottom center #ABC600;
	border-top: 10px solid #DDE898;
	min-height: 120px;
	text-align: center;
}

#header-wrapper, #columns-container, #menu .navbar{
    margin: 0 auto;
    max-width: 1100px;
}


/**********header************/


#language-search {
    background-color: #DFE0E0;
	text-align: right;
    padding: 10px 0;
	font-size: 11px;
}

.form-search{
	float: right;
	margin:0;
	margin-left: 2em;
	position: relative;
	}
	
.form-search input[type="text"]{ 
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0px;
    padding: 4px 6px;
    vertical-align: middle;
	width: 170px;
	background: url(../HWManageStress_files/images/search.gif) no-repeat right 5px #fff;
	box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.3);
	border: 0;
	border-radius: 15px;
}

#header{
	background: url(../HWManageStress_files/images/header.gif) repeat-x top left;
	}

#header select{
	margin:0;
	width: auto;
	background: transparent;
	border:0;
	margin-right: 5px;
	font-weight: bold;
	font-size: 12px;
	}
	
#header select option{
	padding-right: 5px;
	}
	
#portal-logo{
	position: absolute;
	top:0;	
}

#osha-logo{
	float: right;
	margin-top: 20px;
	margin-bottom: 5px;
	}
	
#tagline{
	padding: 43px 0 20px 0px;
	font-family: 'PT Sans', sans-serif;
	color: #003298;
	font-weight: bold;
	font-size: 110%;
	line-height: 130%;
}

#tagline p{
	margin:0;
}

.tagline1{
	font-size: 100%;
	padding-left: 30px;
	color: #505152;
	}

	
/**plone class**/

.hiddenStructure {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 0.1em;
    margin: -0.1em 0 0 -0.1em;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

/************menu*******************************/

#menu{
	background: #ABC600;
	text-transform: uppercase;
	margin-top: 4px;
	}

.navbar-inner {
    background-color:  #ABC600;
    background-image:none;
    border: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
	border-radius: 0;
	behavior: url(./HWManageStress_files/PIE.htc);
    box-shadow: none;
    min-height: 40px;
    padding-left: 0px;
    padding-right: 0px;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABC600', endColorstr='#ABC600', GradientType=0);
  *zoom: 1;
}

.navbar .nav > li > a {
    color: #fff;
    float: none;
    padding: 0 13px;
	margin: 10px 0px;
    text-decoration: none;
    text-shadow: none;
	font-weight: bold;
	border-right: 1px solid #fff;
	line-height: 110%;
	height: 30px;
}

.navbar .nav > li {	
	text-align: center;
}

.navbar .nav > li:last-child > a {
	border-right: 0px solid #fff;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #ABC600;
    box-shadow: none;
    color: #555555;
    text-decoration: none;
}

.dropdown-menu {
    padding: 10px;
	font-size: 90%;
}

.dropdown-menu li {
    border-bottom: 1px solid #ABC600;
}

.dropdown-menu > li > a {
    padding: 5px 20px;
}

.dropdown-menu li:last-child{
    border-bottom: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color:  #ABC600;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABC600', endColorstr='#ABC600', GradientType=0);
  *zoom: 1;
  background-image:none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled],
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle{
  background-color: #ABC600;
  *background-color: #ABC600;
} 


/*************BigBanner*********************/

#banner{	
	margin-top: 1em;
	position: relative;
}

#banner .btn{
	margin-top: 1em;
}

.banner-image{
}

.banner-text, .banner-text1{
	position: absolute;
	right: 20px;
	top: 1px;
	background: url(../HWManageStress_files/images/bannerCopy.png) no-repeat scroll right top transparent;
	height: 467px;
	padding: 10px 20px 0 150px;
	text-align: center;
	line-height: 180%;
	}

.banner-text1{
	padding: 10px 20px 0 100px;
	}	

.banner-text1 img{
	position: absolute;
	right: 20px;
	bottom: 10px;
	}	
	
.banner-text1 p{
	font-size: 130%;
	text-align: right;
	color: #ABC600;
	font-family: verdana;
	font-style: italic;
	margin-top: 10px;
	
	}
.banner-text h2{
	padding-top: 150px;
	background: url(../HWManageStress_files/images/toolkit.png) no-repeat scroll center top transparent;
	font-size: 1.2em;
	text-transform: uppercase;
	}

.news-events, .partners {
	margin:2em 0 0 0;
	position: relative;
	}
	
/*************News-Events*********************/

.news-events h2, .partners h2, #content h1{
	 -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
	border-radius: 30px 30px 0 0;
	behavior: url(./HWManageStress_files/PIE.htc);
	background: #ABC600;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	padding: 5px 20px;
	margin:0;
	}
	
.news-events .item {
	background:#f2f7d8;
	padding: 15px;
	}
	
.first {
	border-bottom: 1px solid #ABC600;
	
	}	
.news-events .item h3{
	font-size: 1.3em;
	line-height: 140%;
	margin: 0 0 20px 0;
	}

.news-events .item img{	
	margin:0px 10px 15px 0;
	}
	
.news-events .item .data{
	margin:5px 0;
	}
	
.databox {
	background:#ABC600;
	color: #fff;
	margin: 5px 10px 15px 0;
	width: 120px;
	height: 125px;
	padding: 0 5px 5px 5px;
	text-transform: uppercase;
	font-family: 'PT Sans',sans-serif;
	}
	
.databox p{
	margin:0;
	line-height: 140%
	}	

.databox p.day{
	font-size: 250%;
	font-weight: bold;	
	}

.databox p.mounth{
	font-size: 120%;	
	}
	
.databox p.year{
	font-weight: bold;
	font-size: 120%;
	}	
	
.news-events .btn{
	font-size: 120%;
	background: #58585a;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	float: right;
	margin: 10px 0;
	text-shadow: none;
	background-image:none;
	border:0;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	behavior: url(./HWManageStress_files/PIE.htc);
          box-shadow: none;
	}
	
.news-events .btn:hover{	
	background: #666;
	}	
	

/************partners**********/

.partners.row-fluid [class*="span"] {
    margin-left: 0.5235602094240838%;
    *margin-left: 0.4712041884816754%;
  }
  
.partners .row-fluid .span2 {
    width: 16.032991452991453%;
    *width: 16.0276723040552828%;
  }

.partners-menu .nav-pills > li {
	text-align: center;
	text-transform: uppercase;
}

.partners-menu .nav-pills > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
	behavior: url(./HWManageStress_files/PIE.htc);
    margin-bottom: 2px;
    margin-top: 7px;
    padding-bottom: 0px;
    padding-top: 8px;
	min-height: 35px;
	border-bottom: 4px solid #ABC600;
	color: #ABC600;
}

.partners-menu .nav-pills > .active > a, 
.partners-menu .nav-pills > .active > a:hover, 
.partners-menu .nav-pills > .active > a:focus {
    background-color: #fff;
    color: #58585a !important;
	border-bottom: 4px solid #58585a;
}

.partners-menu .nav-pills > .active > a:hover, .partners-menu .nav-pills > li > a:hover{
	background-color: #fff;
	 color: #58585a !important;
	 border-bottom: 4px solid #58585a;
}

	
	/******footer*******/	

#footer ul {
	margin: 2em auto 0;
	display: inline-block
}

#footer a {
	color: #fff;
}

#footer .nav-pills > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
	behavior: url(./HWManageStress_files/PIE.htc);
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
	border-right: 1px solid #fff;
}

#footer .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

#footer .nav-pills > .active > a:hover, #footer .nav-pills > li > a:hover{
    background: #ABC600 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABC600', endColorstr='#ABC600', GradientType=0); *zoom: 1;
	color: #58585a !important;
}


/*************Section*************/

#beadcrumb{
	margin: 1em 20px 0 20px;
	font-size: 90%;
}

#beadcrumb a{
	color: #505152;

}
#introducction h1{
    font-size: 28px;
	color: #505152;
}

#intro-image{
   margin: 1.5em 0;
}


#introducction, #content{
    font-size: 120%;
	line-height: 150%;
}

#introducction{
   margin-bottom: 1em;
}

#introducction li{
	font-weight: bold;
	list-style: none;
	background: url(../HWManageStress_files/images/introicon.gif) no-repeat left 4px transparent;
	padding-left: 22px;
	margin-bottom: 1em;
}

#introducction li a{
	color: #505152;
}





/******************SubSection*******************/

#content li{ 
	line-height: 150%;	
}

#content h1{  
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	behavior: url(./HWManageStress_files/PIE.htc);
	background: #B1B3B4;
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 2px 20px 0;
	margin:1em 0;
	line-height: 36px;
	}

#content h2{  
	font-size: 26px;
	}
	
#content strong{  
	font-size: 110%;
	}
	
#content li{  
	margin-bottom: 1em;
	}

#more-content{
	background: #efefef;
	margin-top: 3em;
	z-index: 100;
	position: relative;
}	
	
#more-content h2{
	background: #b1b3b4;
	line-height: 36px;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	padding: 1px 20px;
	margin-top: -1em;
	z-index: 900;
	-webkit-border-radius:20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	behavior: url(./HWManageStress_files/PIE.htc);
}

#content-image{
	margin-bottom: 1em;
}

#more-content .item{	
	padding: 0 2em 1em 2em;	
}	

#more-content li{
	font-size: 90%;
	list-style: none;
	background: url(../HWManageStress_files/images/contenticon.gif) no-repeat left 2px transparent;
	padding-left: 22px;
	margin-bottom: 0;
}

#more-content li a{
	color: #505152;
}


/********Responsive video***********/

.video-container{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    z-index: 0;
}

.video-container iframe, .video-container object, .video-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

/*****pagination************/

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999 ;
    cursor: default;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #ABC600;
	color: #fff;
}

.pagination ul > li > a, .pagination ul > li > span {
    background-color: #efefef;
    border: 1px solid #505152;
    float: left;
    line-height: 20px;
    margin: 0 2px;
    padding: 4px 12px;
    text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	behavior: url(./HWManageStress_files/PIE.htc);
	font-weight: bold;
	color:  #505152;
}


/**********Material******************/

.material-item {
	border-bottom: 2px solid #B0B1B2;
	position: relative;
}

#content .material-item h2{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;	
}

.material-item .span6, .material-item .span4, .material-item .span2{
	padding: 1em 0;
}

.material-item .span6{
	text-align: right;
}

.material-info, .material-icon {
	position: absolute;
	bottom:0;
}

.material-info {
	font-style: italic;
}


#material .row-fluid .span1{
	margin-left: 0;
}


/************Photo Gallery**************/

.thumbnail h3{
	font-size: 100%;
	margin-bottom: 5px;
	line-height: 120%;
	padding: 0 10px;
}

.thumbnail p{
	font-size: 80%;
	margin-bottom: 5px;
	line-height: 140%;
	padding: 0 10px;
}



